body {
  color: #fff;
  line-height: 1.5;
  background-color: #1c1c1e;
  transition: background-color 0.3s, color 0.3s;
}
main {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3, h4, h5, h6, h7 {
  margin: 1em 0 0.5em 0;
  line-height: 1.2;
}
img {
  max-width: 100%;
}
pre, code, samp, kbd {
  color: #fff;
  font-family: monospace,monospace;
}
pre, blockquote {
  background: #424145;
  padding: 0.5em;
}
pre {
  overflow: auto;
}
blockquote {
  border-left: medium solid #5d5d5d;
  margin: 1em 0;
}
blockquote :first-child {
  margin-top: 0;
}
blockquote :last-child {
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
}
th, td {
  border: thin solid #4a494e;
  padding: 0.3em 0.4em;
  text-align: left;
}
a {
  color: #0b84ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
